<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">

		<script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.3.1.min.js"></script>
		<link rel="stylesheet" href="../static/styles.css">

		<link rel="icon" href="../static/book.png">
		<link href="https://fonts.googleapis.com/css?family=Fira+Sans|Roboto+Mono|Sarabun" rel="stylesheet">

		<title style="font-family: Fira+Sans, Times, serif;">LiveThesaurus</title>
	</head>

	<body>
		<div class="parallax"></div>

		<div id="title">
			<h1>LiveThesaurus</h1>
			<a href="https://github.com/EdwardLu2018/LiveThesaurus" target="_blank" id="about">
				<img src="../static/about.png" alt="unavailable" height="17" width="17">
			</a>
		</div>

		<a href="#app" id="scroll">
			<img src="../static/up.png" alt="unavailable" height="40" width="40">
		</a>

		<a name="app"></a>
		<div id="live-thesaurus">
			<div id="text-box-container">
				<textarea id="insert-text" rows="40" cols="82"></textarea>
			</div>

			<div id="word-info">
				<div id="selected-word-container" style="margin-top: 0px;">
					<div id="selected-word-title">Selected Word:</div>
					<div id="selected-word">{{word}}</div>
				</div>
				<div id="definition-container">
					<div id="definition-title">Definition:</div>
					<select id="definitions" style="text-align-last:center;">
						<option>none</option>
					</select>
				</div>
				<div id="term-container">
					<div id="term-title">Synonyms:</div>
					<select id="terms" style= "height: 53vh;" size="25">
					  <option>none</option>
					</select>
				</div>
			</div>
		</div>

		<script type="text/javascript">
			var selectedWord = {
				word: null, 
				startIndex: 0, 
				endIndex: 0,

				reset: function() {
					this.word = null;
					this.startIndex = 0;
					this.endIndex = 0;
				}
			};

			var currDef = null;
			var currSyn = null;
			var defList = null;
			var synDict = null;

			$("#insert-text").mouseup(function() {
				var wordIndex = {}
			  selectedWord.word = this.value.substring(this.selectionStart, this.selectionEnd);
			  selectedWord.startIndex = this.selectionStart;
				selectedWord.endIndex = this.selectionEnd;

			  if (selectedWord.word != "" && selectedWord.word != null && selectedWord.word.search(/\n/) == -1) {

					$.ajax({
					    type: "POST",
					    url: "{{ url_for("getData") }}",
					    contentType: "application/json",
					    data: JSON.stringify({currWord: selectedWord.word}),
					    dataType: "json",
					    success: function(response) {
					    	if (response.currWord != 0){
					    		selectedWord.word = response.currWord;
					    		defList = response.defList;
					    		synDict = response.synList;

					        $("#selected-word").html("\"" + selectedWord.word + "\"");

					        $("#definitions").find("option").remove();
					        for (var i = 0; i < defList.length; i++){
					        	$("#definitions").append("<option>" + defList[i] + "</option>");
						    	}

						    	currDef = defList[0];

						    	$("#terms").find("option").remove();
									for (var i = 0; i < synDict[currDef].length; i++){
					    	    	$("#terms").append("<option>" + synDict[currDef][i].term + "</option>");
					    		}
						    }
						    else {
						    	selectedWord.reset();
						    	currDef = null;
						    	currSyn = null;
						    	defList = null;
					    		synDict = null;

					    		$("#selected-word").html("none");

					    		$("#definitions").find("option").remove();
					    		$("#definitions").append("<option>none</option>");

					    		$("#terms").find("option").remove();
					    		$("#terms").append("<option>none</option>");
						    }
					    },
					    error: function(err) {
					      console.log(err);
					    }
					});
				}
				else {
		    	selectedWord.reset();
		    	currDef = null;
		    	currSyn = null;
		    	defList = null;
	    		synDict = null;

	    		$("#selected-word").html("none");
					
	    		$("#definitions").find("option").remove();
	    		$("#definitions").append("<option>none</option>");

	    		$("#terms").find("option").remove();
	    		$("#terms").append("<option>none</option>");
		    }
			});

			$("#definitions").on('change', function () {
				currDef = $("#definitions").find(":selected").text();
				$("#terms").find("option").remove();
				for (var i = 0; i < synDict[currDef].length; i++){
    	    	$("#terms").append("<option>" + synDict[currDef][i].term + "</option>");
    		}
			});

			$("#terms").dblclick(function() {
				var text = $("#insert-text").val();
				currSyn = $("#terms").find(":selected").text();
				var newText = text.substring(0, selectedWord.startIndex) + currSyn + text.substring(selectedWord.endIndex);
				$("#insert-text").val(newText);
				selectedWord.word = currSyn;
				selectedWord.endIndex = selectedWord.startIndex + currSyn.length;
			});
		</script>
	</body>
</html>